<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Ganker Xuan Blog that Beautiful,Explicit,Simple,Complex,Flat,Sparse,Readability!">

    <title>{% block title %} Ganker Xuan Blog {% endblock %}</title>
    <link rel="shortcut icon" href="/static/icon/twitter.ico" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/monokai.css">
</head>

<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-tagline"><a href="/">Ganker Xuan Blog</a></h1>
            <h2 class="brand-tagline">朝闻道，夕死可矣</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'archives' %}">Archives</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="https://github.com/xuliexuan/">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-error pure-button" href="http://weibo.com/u/3071869693">Weibo</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">Subject</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "RSS" %}">RSS</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'about_me' %}">About Me</a>
                    </li>
                </ul>
            </nav>
            <br/>
            <form class="pure-form" action="/search/" method="get">
            <input class="pure-input-3-3" type="text" name="s" placeholder="search">
            </form>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://weibo.com/234892007">About Me</a></li>
                        <li><a href="https://github.com/xuliexuan/">Twitter</a></li>
                        <li><a href="https://github.com/xuliexuan/">FaceBook</a></li>
                        <li><a href="https://github.com/xuliexuan/">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
